body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

form {
    width: 550px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

h3 {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="range"] {
    width: 85%;
}

output {
    font-weight: bold;
    margin-left: 10px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #007BFF;
    color: white;
    border: none;
    width: 100%;
    font-size: 16px;
}